<a href="https://colab.research.google.com/github/GodfreyMamauag/CPEN-21A-CPE-1-2/blob/main/ArrayLecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)
print("Array[2] =",z)

Array[0] = cat
Array[1] = dog
Array[2] = fish

In [4]:
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
x = animals[0]

print("Array[0] =", x)
print(animals)

Array[0] = monkey
['monkey', 'dog', 'fish']

In [5]:
animals = ["monkey", "dog", "fish", "cat", "birds"]
v = len(animals)
print(v)

5

In [6]:
animals = ["monkey", "dog", "fish", "cat", "birds"]

for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [7]:
animals = ["monkey", "dog", "fish", "cat", "birds"]
y = 0
for x in animals:
  print("Array[",y,"] =",x)
  y += 1

Array[ 0 ] = monkey
Array[ 1 ] = dog
Array[ 2 ] = fish
Array[ 3 ] = cat
Array[ 4 ] = birds

In [8]:
animals = ["monkey", "dog", "fish", "cat", "birds"]

for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [9]:
animals = ["monkey", "dog", "fish", "cat", "birds"]

animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1, 11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]