<a href="https://colab.research.google.com/github/GodfreyMamauag/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [ ]:
Week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
print(Week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [ ]:
Week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [ ]:
Week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
Week =["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in Week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [ ]:
for x in "Week":
  print(x)

W
e
e
k

The range() function

In [ ]:
for x in range(6):
  print("Example 1",x)

for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

Nested Loops

In [ ]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop statement

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1  #Assignment operator for addition

1
2
3

In [ ]:
i = 1
while i<6:
  i+=1
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

The else statement

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Application 1**
Create a Python program that displays Value 0 to Value 10 in sequence(vertical manner) using both for and while loop statements

In [ ]:
a=["Value"]
b=["0","1","2","3","4","5","6","7","8","9","10"]

for x in a:
  for y in b:
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [ ]:
i=0
while i<11:
  print("Value",i)
  i+=1
#else
  #print("i is no longer greater 11")

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [ ]:
i=20
while i>3:
  i=i-1
  print(i)
  if i==4:
    break
#else:
   #print("i is no longer greater than 3")

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4