<a href="https://colab.research.google.com/github/GodfreyMamauag/CPEN-21A-CPE-1-2/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Idention

In [11]:
if 10>5:
  print("ten is greater than five")

ten is greater than five

Python **Comments**

In [12]:
#This is a comment
print("Good day Godfrey")

Good day Godfrey

Variable Naming Convention

In [14]:
myvar="Mark Godfrey"

Python Variable

In [16]:
x="Godfrey" #this is a type of string
a,b=1,2
a,b,c=1,2,3

Casting

In [17]:
x="Godfrey" #this is a type of string
x=int(4)
print(x)
x=float(4)
print(b)

4
2

Type of Function

In [18]:
x=10
y="Godfrey"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double or Single quotes

In [19]:
y="Godfrey"
y='Godfrey'

Case Sensitive

In [ ]:
a=9
A="Mark"
#A will not overwrite a